.main__left-section,
.main__right-product{
  display: none;
} 
/* временно для отрисовки корзины */

.main-wrapper__card-shop{
width: 100%;
}

.card-shop{
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  box-shadow:
  0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
  border-radius: 10px;
}

.card-shop__product{
  width: 75%;
  border: 1px solid #000;
  border-radius: 5px;
  height: fit-content;
}

.card-shop__summ div{
  margin: 5px;
}

.card-shop__product-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-box-number{
  width: 20px;
  text-align: center;
}

.product-title__items{
  display: flex;
}
.items-box{
  display: flex;
  align-items: center;
}

.product-title__page{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.title__page-btn-left,
.title__page-btn-right{
  margin: 4px;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 1px;
}

.shop__summ-product,
.shop__summ-total-price{
  display: flex;
}

.input-promocod-text{
  width: 85%;
  border-radius: 10px;
  text-align: center;
}

.input-promocod-span{
  font-size: 10px;
}

.card-shop__summ{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0, 0.1);
  width: 20%;
  height: fit-content;
  border: 1px solid #000;
  border-radius: 10px;
}

.shop__summ-promocod{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-shop__summ-btn{
  margin: 5px;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid;
  transition: 0.7s;
}

.card-shop__summ-btn:hover{
background: rgb(132, 218, 99);
}

.promocod-sale-10,
.promocod-sale-20{
display: none;
font-size: 11px;
font-weight: 900;
color: rgb(36, 175, 1);
}

.promocod-sale-10.active{
  display: block;
  background: none;
}

.promocod-sale-20.active{
  display: block;
  background: none;
}

.promocod-applied-sale-10,
.promocod-applied-sale-20{
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 900;
  color: rgb(36, 175, 1);
}

.promocod-sale-rem10,
.promocod-sale-rem20,
.promocod-sale10-add,
.promocod-sale20-add{
margin-left: 10px;
cursor: pointer;
border: 1px solid #000;
padding-left: 5px;
padding-right: 5px;
border-radius: 6px;
transition: .8s;
}

.promocod-sale-rem10:hover,
.promocod-sale-rem20:hover{
background: rgb(238, 143, 143);
}

.promocod-sale10-add:hover,
.promocod-sale20-add:hover{
  background: rgb(169, 201, 143);
}

/* .shop__summ-total-price-sales,
.promocod-applied-sale-10,
.promocod-applied-sale-20{
display: none;
} */

.shop__summ-total-price-sales.active{
  display: block;
}
.promocod-applied-sale-10.active{
  display: block;
}
.promocod-applied-sale-20.active{
  display: block;
}

.promocod-sale-rem20{
  display: block;
}

/*---------------------card-shop-all----------------------------*/
.card-shop__product-item{
  width: 100%;
}

.product-item__box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid;
  background: rgb(0, 0, 0, 0.1);
}

.product-item__box-number{
  border: 1px solid #000;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  text-align: center;
}

.product-item__box-info{
  display: flex;
  width: 85%;

}

.box-info__img{
  width: 15%;
  background: rgb(194, 175, 175);
  margin-right: 5px;
}

.box-info__all{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.box-info__all-title{
  margin-top: 2px;
  font-weight: 900;
}

.box-info__all-description{
  text-align: center;
  margin-top: 3px;
}

.info__all-rait-text,
.info__all-disc-text{
  margin-right: 5px;
}

.box-info__all-rait-disc,
.product-item__count-stock{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
  font-size: 11px;
  font-weight: 900;
  color: rgb(0, 0, 0);
}

.product-item__count-stock-price{
  font-size: 12px;
  font-weight: 900;
}

.box-info__all-rait,
.box-info__all-disc{
  display: flex;
}

/*----блок count +\- ----*/
.product-item__count{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.product-item__count-stock{
  display: flex;
}

.product-item__count-add{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 7px 0;
}

.count-add-add,
.count-add-remove{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  font-weight: 900;
  cursor: pointer;
  transition: 0.6s;
}

.count-add-add:hover{
  background: rgb(38, 163, 6);
}
.count-add-remove:hover{
  background: rgb(206, 94, 94)
}

.count-add-value{
  margin: 0 7px;
}