.main__left-section,
.main__right-product{
  display: none;
} /*временно для отрисовки корзины*/

.main-wrapper__card-shop{
width: 100%;
}

.card-shop{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;

}

.card-shop__product{
  width: 75%;
  border: 1px solid #000;
  border-radius: 5px;
  height: fit-content;
}

.card-shop__summ div{
  margin: 5px;
}

.card-shop__product-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-box-number{
  width: 20px;
  text-align: center;
}

.product-title__items{
  display: flex;
}
.items-box{
  display: flex;
  align-items: center;
}

.product-title__page{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.title__page-btn-left,
.title__page-btn-right{
  margin: 4px;
  cursor: pointer;
}

.shop__summ-product,
.shop__summ-total-price{
  display: flex;
}

.input-promocod-text{
  width: 85%;
  border-radius: 10px;
  text-align: center;
}

.input-promocod-span{
  font-size: 10px;
}

.card-shop__summ{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0, 0.2);
  width: 20%;
  border: 1px solid #000;
  border-radius: 10px;
}

.shop__summ-promocod{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-shop__summ-btn{
  margin: 5px;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid;
}

.card-shop__summ-btn:hover{
background: rgb(132, 218, 99);
}

.promocod-sale-10,
.promocod-sale-20{
display: none;
font-size: 11px;
font-weight: 900;
color: rgb(36, 175, 1);
}

.promocod-sale-10.active{
  display: block;
  background: none;
}

.promocod-sale-20.active{
  display: block;
  background: none;
}

.promocod-applied-sale-10,
.promocod-applied-sale-20{
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 900;
  color: rgb(36, 175, 1);
}

.promocod-sale-rem10,
.promocod-sale-rem20,
.promocod-sale10-add,
.promocod-sale20-add{
margin-left: 10px;
cursor: pointer;
border: 1px solid #000;
padding-left: 5px;
padding-right: 5px;
border-radius: 6px;
transition: .8s;
}

.promocod-sale-rem10:hover,
.promocod-sale-rem20:hover{
background: rgb(238, 143, 143);
}

.promocod-sale10-add:hover,
.promocod-sale20-add:hover{
  background: rgb(169, 201, 143);
}

/* .shop__summ-total-price-sales,
.promocod-applied-sale-10,
.promocod-applied-sale-20{
display: none;
} */

.shop__summ-total-price-sales.active{
  display: block;
}
.promocod-applied-sale-10.active{
  display: block;
}
.promocod-applied-sale-20.active{
  display: block;
}

.promocod-sale-rem20{
  display: block;
}