*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0;
}

.header{
  width: 100%;
  height: 60px;
  background: rgb(42,78,107);
  background: linear-gradient(90deg, rgba(42,78,107,1) 0%, rgba(61,61,108,1) 31%, rgb(120, 141, 165) 47%, rgba(2,0,36,1) 79%, rgba(58,87,93,1) 100%);
}

.main{
  display: flex;
  width: 100%;
  min-height: 85vh;
  justify-content: space-around;
}

.main__left-section{
  width: 30%;
  background: rgb(201, 201, 184);
  border: 1px solid rgb(233, 14, 14);
}

.main__right-product{
  width: 68%;
  border: 1px solid rgb(0, 0, 0);
}

.footer{
  width: 100%;
  height: 60px;
  background: rgb(175, 174, 161);
}